<!DOCTYPE html>
<html lang="en">
<head>
    <title>GroupTree Global</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <link href="/assets/styles/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
    <div class="box-wrapper">

        <div class="box">

            box 1
        </div>

        <div class="box">

            box 2
        </div>

        <div class="clearfix"></div>

    </div>

</body>
</html>
