/********** START ACCORDION **********/
.accordions-wrapper { margin-bottom: 40px; }
.accordion { margin-bottom: 10px; }
.accordion .accordion-heading { background-color: $box-color; color: inherit; cursor: pointer; display: block; padding: 10px; padding-right: 30px; position: relative; }
.accordion .accordion-heading.active, .accordion .accordion-heading:hover { background: $primary-color; color: White;    @extend .smooth-transition  }
.accordion .accordion-content { overflow: hidden; display: none; }
.accordion .accordion-content .accordion-content-inner { padding: 5px; }
.accordion-indicator { position: absolute; right: 10px; top: 50%; height: 20px; margin-top: -10px; }
.accordion .accordion-heading .accordion-indicator:before { content: "\f107"; }
.accordion .accordion-heading.active .accordion-indicator:before { content: "\f106"; }
/********** END ACCORDION **********/