<body style="background: #ffffff; font-family: arial; font-size: 14px; line-height: 20px;">
    <table cellspacing="0" cellpadding="0" width="100%" border="0" bgcolor="#ffffff" style="padding-top: 20px;">
        <tbody>
            <tr>
                <td valign="top" align="center" style="width: 660px;">
                    <!----- HEADER ----->
                    <!----- DIVIDER ----->
                    <table cellspacing="0" cellpadding="0" width="640px" border="0">
                        <tbody>
                            <tr>
                                <td valign="top" style="background: #ccc; line-height: 1px; font-size: 1px; width: 640px; height: 1px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!----- CONTENT ----->
                    <table cellspacing="0" cellpadding="0" width="640px" border="0">
                        <tbody>
                            <tr>
                                <td valign="top" align="left" style="width: 600px; padding: 10px 0;">
                                    <h1 style="line-height: 30px; font-size: 15px; line-height: 1.3;">
                                        Sky has launched a brand new company website with lots of new content and additional features. Please visit
                                        <a style="color: #c10068; cursor: pointer;" href="http://sky.com/corporate">
                                            www.sky.com/corporate
                                        </a>
                                        to find out more.
                                    </h1>
                                    <a href="http://sky.com/corporate">
                                        <img alt"sky corp link" width="300" src="/assets/images/skyCorpScreenShot.jpg" style="float: right; margin: 0 1em 1em 0; padding-left: 10px;
                                            cursor: pointer;" />
                                    </a>
                                    <p style="margin-bottom: 10px; font-size: 15px;">
                                        The new website will be your one-stop-shop for all our latest news, views and company information [and replaces the previous
                                        Sky Press Office site]. To be kept up-to-date, please register for email alerts by clicking
                                        <a href="http://corporate.sky.com/page.aspx?pointerid=6f6be4b06ff044afadf685cff6b2a04f" style="color: #c10068; cursor: pointer;">
                                            here.
                                        </a>
                                    </p>
                                    <p style="padding-top: 10px; margin-bottom: 10px; font-size: 15px;">
                                        If you previously received alerts from our corporate or Sky Press Office website, then you don’t have to do anything - we
                                        have already migrated your former preferences over for you. To change these at any time, or to cancel your alerts, please
                                        click
                                        <a href="http://corporate.sky.com/page.aspx?pointerid=7394c93d97014ebfbceeb80300d7da1e" style="color: #c10068; cursor: pointer;">
                                            here.
                                        </a>
                                    </p>
                                    <p style="padding-top: 10px; margin-bottom: 10px; font-size: 15px;">
                                        We would love to hear what you think of our new site. The contact details of all our press teams can be found on the new
                                        site at
                                        <a href="#" style="color: #c10068; cursor: pointer;">
                                            www.http://corporate.sky.com/media-centre/contact-us
                                        </a>
                                        - please drop any of us a line with any feedback you have.
                                    </p>
                                    <p style="padding-top: 10px; margin-bottom: 10px; font-size: 15px;">
                                        BSkyB press and Investor relations team.
                                    </p>
                                    <p style="border-top: 1px solid #ccc; padding-top: 1em;">
                                        <small>To unsubscribe from the BSkyB press email alert system, please click here.
                                            <a href="http://corporate.sky.com/page.aspx?pointerid=7394c93d97014ebfbceeb80300d7da1e" style="color: #c10068; cursor: pointer;">
                                                Unsubscribe
                                            </a>
                                        </small>
                                    </p>
                                </td>
                                <td style="width: 20px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!----- CONTENT ----->
                    <table cellspacing="0" cellpadding="0" width="640px" border="0">
                        <tbody>
                            <tr>
                                <td valign="top" style="background: #b3b5b7; font-size: 1px; line-height: 1px; width: 640px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
