<!--AJAX OVERLAY CONTENT START-->
<div class="overlay-bg js-overlay-ajax-bg">
</div>
<div id="js-question-overlay" class="overlay js-overlay">
    <div class="overlay-content">
        <h3>Lorem Ipsum - Ajax </h3>
        <p class="gt_survery_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. </p>
        <a href="javascript:void(0);" class="btn js-close-overlay-trigger">
            <i class="fa fa-times"></i>&nbsp;Close
        </a>
    </div>
</div>
<!--AJAX OVERLAY CONTENT END-->
